
body {
    background-image: url(../img/sections_background/section-1_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat';
}

.container {
    width: 1160px;
    margin: 0 auto;
}


/* HEADER */

.header {
    background: rgba(94, 93, 88, 0.6);
}

.header .container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: 400;
    font-size: 32px;

    color: #FFFFFF;
}

.main_logo p {
    display: inline-block;
}

.poligon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    
    height: 67px;
    width: 58px;

    background-image: url(../img/polygon1.svg);
}

.logo {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.logo_accent {
    font-weight: 700;
    color: #18CFAB;
}


/* NAVIGATION */

.nav_item {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 21px;
    position: relative;
    
    color: rgba(255, 255, 255, 0.6);

    transition: color ease .5s;
}

.nav_item:hover::after {
    content: "";
    position: absolute;
    left: 0;
    top: 70px;

    width: 100%;
    height: 1px;

    background: #18CFAB;
}

.nav_item:hover {
    color: #18CFAB;
}


/* HOME SECTION */

.home_section {
    margin-top: 264px;
}

.home_section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.text_accent {
    color: #18CFAB;
}

.home_title {
    font-weight: 700;
    font-size: 78px;
    margin: 25px 0 25px 0;
    text-transform: uppercase;

    color: #FFFFFF;
}

.home_subtitle {
    font-weight: 400;
    font-size: 34px;

    color: #D4D4D4;
}

.buttons {
    margin-top: 125px;
    margin-bottom: 144px;
}

.btn_explore {
    width: 169px;
    height: 63px;
    background: #18CFAB;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 -5px  #FFFFFF;
    margin-right: 26px;
    text-transform: uppercase;
}

.btn_purchase {
    width: 169px;
    height: 63px;
    background: #00CBF6;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 -5px  #FFFFFF;
    text-transform: uppercase;
}


/* OPTIONS SECTION */

.options {
    background-color: #fff;
}

.options_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding-top: 8px;
}

.options_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;

    background-color: rgba(24, 207, 171, 1);
}

.options_item img {
    margin: auto;
    object-fit: contain;
    object-position: center;
}

.accent_item {
    background: #1C2A33;
}

.list_description {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 100px;
    text-transform: uppercase;

    color: #FFFFFF;
}


/* SERVICE SECTION */

.service {
    height: 558px;

    background-color: #FFFFFF;
}

.service .container {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service_title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 24px;

    color: #4E4E4E;
}

.service_line {
    width: 75px;
    height: 1px;
    background: #18CFAB;
}

.service_line_copy {
    width: 75px;
    height: 1px;
    position: relative;
    left: 15px;
    margin-top: 3px;
    background: #18CFAB;
}

.service_list {
    width: inherit;
    display: flex;
    margin-top: 67px;
}

.service_item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 192px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;

    margin-bottom: 27px;

    transition: .4s;

    color: #717171;
    border: 1px solid #EDEFEF;
    background: #F8FCFE;
}

.service_list .active {
    position: relative;
    color: #FFFFFF;
    background: #18CFAB;
}

.service_list .active::before {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;

    left: 80px;
    bottom: -20px;

    transition: .4s;
}

.service_item:hover {
    border: 1.5px solid #18CFAB;
}

.service_description {
    align-self: start;
    margin-bottom: 91px;
}

.description_list {
    display: none;
    width: 1160px;
    align-self: flex-start;
}

.description_list.active {
    display: flex;
    align-items: center;
}

.description_list p {
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    margin-left: 13px;

    color: #777777;
}


/* PURCHASE SECTION */

.purchase {
    background-image: url(../img/sections_background/section-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow {
    height: 476px;
    background: #000000;
    opacity: 0.78;
}

.purchase .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.purchase_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 127px;

    color: #18CFAB;
}

.purchase_subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    margin-top: 12px;
    margin-bottom: 67px;

    color: #D8D8D8;
}


/* WORK SECTION */

.work {
    padding-top: 97px;

    background: #E9EDEF;
}

.work .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work_title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 30px;

    color: #4E4E4E;
}

.work_menu {
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    margin: 70px 0;

    display: flex;

    color: #717171;
}

.menu_item {
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    padding: 14px 15px;
    border: 1px solid #DADADA;

    color: #717171;
}

.active_filter {
    color: #18CFAB;;
    border: 1px solid #18CFAB;
}

.work_images {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.hiden {
    display: none;
}

.btn_add {
    display: none;
}

.all {
    position: relative;
}

.work_img_description {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 285px;
    height: 206px;

    background: #E9EDEF;
}

.icons {
    display: flex;
    margin-bottom: 40px;
}

.description_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;

    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 50%;

    background: #E9EDEF;

    transition: .5s;
}

.description_icon svg {
    fill: #1FDAB5;

    transition: .5s;
}

.description_icon:hover {
    background: #1FDAB5;
}

.description_icon:hover svg {
    fill: white;
}

.description_title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    margin-bottom: 12px;

    color: #18CFAB;
}

.description_text {
    font-weight: 300;
    font-size: 12.1518px;

    color: #8A8A8A;
}

.all:hover .work_img_description {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;

    animation: ani 1s forwards;
}

@keyframes ani {
    0% {height: 0;
        opacity: 0;}
    100% {height: 100%;
        opacity: 1;}
}

.load {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 100px;

    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;

    color: #FFFFFF;

    background: #18CFAB;
}

.load svg {
    margin-right: 16px;
}

.again {
    display: none;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 100px;

    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;

    color: #FFFFFF;

    background: #18CFAB;
}

.again svg {
    margin-right: 16px;
}

.loader_icon {
    display: none;
    margin-bottom: 100px;
    animation: animateBg 10s linear infinite;
}

@keyframes animateBg {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.loader {
    position: relative;
    width: 60px;
    height: 60px;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    widows: 100%;
    transform: rotate(calc(60deg * var(--i)));
}

.loader span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
                0 0 20px #00ff0a,
                0 0 40px #00ff0a,
                0 0 60px #00ff0a,
                0 0 80px #00ff0a,
                0 0 100px #00ff0a;
    animation: animate .5s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    80%, 100% {
        transform: scale(0);
    }
}


/* BREAKING NEWS SECTION */

.news {
    padding-top: 84px;
    padding-bottom: 140px;

    background: #FFFFFF;
}

.news .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news_title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 26px;

    color: #4E4E4E;
}

.post_list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 35px;
    column-gap: 57px;
}

.post_item {
    position: relative;
}

.post_date {
    width: 67px;
    height: 65px;
    padding-top: 14px;
    text-align: center;

    position: absolute;
    right: 0;
    top: 0;

    color: #FFFFFF;
    background: #203E38;
    transition: .4s;
}

.post_description {
    margin-top: 15px;
    padding-left: 25px;
}

.post_title {
    font-weight: 700;
    font-size: 18px;

    color: #717171;
    transition: .4s
}

.post_comment {
    display: inline-block;

    margin-top: 13px;

    font-weight: 300;
    font-size: 14px;

    color: #777777;
}

.comment_line {
    display: inline-block;
    height: 10px;
    width: 1px;

    margin-left: 13px;
    margin-right: 13px;

    background-color: #777777;
}

.post_item:hover .post_title {
    color: #18CFAB;
}

.post_item:hover .post_date {
    background: #18CFAB;
}


/* FEEDBACK SECTION */

.feedback {
    background-image: url(../img/sections_background/section-3.jpg);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.feedback .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shape {
    margin-top: 68px;
    margin-bottom: 38px;
}

.feedback_title {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 25px;

    color: #FFFFFF;
}

.feedback_description {
    height: 370px;
}

.feedback_description_item {
    display: none;
    
    position: relative;
    margin-bottom: 52px;
}

.feedback_description_item div {
    background-color: rgba(31, 218, 181, .2);
    border-radius: 50%;
    padding: 5px;
}

.active_feedback_description {
    display: flex;
    flex-direction: column;
    align-items: center;

    animation: showLeft 1s ease;
}

@keyframes showLeft {
    from {
        left:-100%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

.feedback_text {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin-bottom: 38px;

    color: #BBBBBB;

}

.name {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 18px;

    color: #18CFAB;
}

.profession {
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 38px;

    color: #BBBBBB;
}

.feedback_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback_icon button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;

    transition: .5s;
}

.feedback_icon svg {
    fill: #BBBBBB;
    transition: .5s;
}

.feedback_icon button:hover {
    border: none;

    background: #18CFAB;
}

.feedback_icon button:hover svg {
    fill: white;
}

.feedback_icon_list {
    display: flex;
    
}

.feedback_icon_list li {
    margin-left: 35px;

    background-color: rgba(31, 218, 181, .2);
    border-radius: 50%;
    padding: 5px;
}

.active_feedback  {
    position: relative;
    bottom: 15px;
}

.feedback_icon_list li:last-child {
    margin-right: 35px;
}

.feedback_icon_list img {

    border-radius: 50%;
}